{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}

    <h1>Hello User Welcome to Foddies&Co ! ✅</h1>
    <a href="{{ path('account_dashboard') }}">Click here</a>

{% endblock %}
