{% extends 'base.html.twig' %}

{% block title %}Your farmer near you{% endblock %}

{% block body %}
    <div class="p-3 mx-auto text-center">
        <h1>Farmer</h1>
        <h2> Résultats de recherche TO DO</h2>
    </div>


{% endblock %}
