{% extends "base.html.twig" %}

{% block title %}CGU{% endblock %}

{% block body %}
    <body>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1>CGU</h1>
            </div>
        </div>
    </div>
{% endblock %}