{% extends "base.html.twig" %}

{% block title %}Privacy policy & terms{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('asset/css/legals.css') }}" rel="stylesheet"/>
{% endblock %}
{% block body %}

    <h1 class= "fs-54 mx-auto">Privacy policy & terms </h1>

    <div class=" mx-auto text-center fs-18 arvo d-flex justify-content-center">
        <p class="mb-2 text-center wh-100-50 p-lh">
            Overview<br>

            In short, any personal information that you give us is safe and confidential. We store all your information securely, and we will never share any details with anyone outside Foodies&Co for their marketing or mailing purposes.<br>
            <br>

            Below, we’ll tell you in detail how we use and store your personal information.<br>
            Who are we?<br>

            Foodies&Co Office<br>
            Arch 6, Apollo Business Park,<br>
            St James's Road, London<br>
            SE16 4ET <br>
            <br>
            (020) 7965 2368<br>
            <br>
            Your personal information<br>
            Your privacy is important to us and we never want you to worry about your personal information being compromised. We promise to never pass your personal details to any outside company for their marketing purposes (we do reserve the right to disclose this information in certain circumstances, which we’ve set out below). We treat all of your personal information as if it was our own, so you can rest assured that it will be kept confidential and on a secure server.<br>

            You have the right to access your personal information and to correct it at any time. To do so, please contact us via one of the following options:<br>
            <br>
            Email:<br>
            Telephone: 01363 772682 <br>
            Write to us: Merrifield, Upton Hellions, Crediton, Devon EX17 4AF<br>
            <br>
            You have the right to request a copy of any information about you that we hold at any time, and also to correct any inaccurate information that we have. To view any information that you have disclosed, please contact sales@creedycarver.co.uk or ring us on 01363 772682 or write to us. This does not affect your rights under the Data Protection Act 1998. <br>
            <br>
            We reserve the right to disclose your personal information if we are requested by the police or any other regulatory or government authority investigating suspected illegal activities to provide your Personal Information and /or User Information, we are entitled do so.<br>
            When we may use your personal information.<br>
            We don’t share our email lists with anyone outside of Creedy Carver for their marketing purposes, so you can be sure that your data is safe. However, your email address will be shared with selected third parties to ensure that your order can be fulfilled.<br>
            <br>
            Using this website and your personal information.<br>
            You do not have to give us any personal information to use this website.<br>
            When you shop with Creedy Carver, we will ask you to submit personal information, and we will also collect some personal information from you. This includes: <br>
            <br>
            Your name<br>
            Your email address<br>
            Your billing address<br>
            Your delivery address<br>
            Your     telephone number<br>
            Your product selection<br>
            <br>
            Any personal information that you give to us and any User Information that we identify as being from you is held in accordance with ICO policy. We will only use your information for the following:<br>
            <br>
            To process and complete your order<br>
            <br>
            If you have signed up to receive emails from us, we will contact you with exciting news, products launches, helpful tips and recipes, which may be of interest to you, based on your communication preferences. It may also be shared with reputable third-parties who will help process your order (for example, the courier who will deliver your order). We require that these third-parties treat your personal information as confidential and that they comply with all applicable UK Data Protection and consumer legislation that is in place at any given time. We may disclose your personal information and / or User Information if asked to do so by the policy or any other regulatory or Government authority investigating suspected illegal activities.<br>

        </p>
    </div>

{% endblock %}