/* Polices de la page et tailles */

.dawning{
    font-family: 'Dawning of a New Day', cursive!important;
}

.arvo{
    font-family: 'Arvo', serif;
}

.bitter{
    font-family: 'Bitter', serif;
}
.libre{
    font-family: 'Libre Baskerville', serif!important;
    font-style: italic;
}

.fs-60{
     /*font-size: 60px !important;*/
    font-size: 3.230188679vw !important;
}

.fs-54{
    /* font-size: 54px; */
    font-size: 2.830188679vw;
}

.fs-48{
    /* font-size: 48px; */
    font-size: 2.51572327vw;
    font-weight: 900;
}

.fs-46{
    /* font-size: 46px; */
    font-size: 2.410901467vw;
    font-weight: 900;
}

.fs-36{
    /* font-size: 36px; */
    font-size: 1.88679vw;
}

.fs-32{
    /* font-size: 32px; */
    font-size: 1.6771488469vw;
}

.fs-30{
    /* font-size: 30px; */
    font-size: 1.572327044vw;
}

.fs-25{
    font-size: 1.415094339vw;
    /* font-size: 25px; */
}

.fs-20{
    font-size: 1.257861635vw;
    /* font-size: 20px; */
}
.fs-18{
    font-size: 0.9433962264150944vw !important;
    /* font-size: 20px; */
}

.italic {
    font-style: italic;
}

.navBG {
    background-color: #FFFDFA!important;
}

.fc-black {
    color: black !important;
}

a{
    color: black!important;
}

/*Test animation navbar*/

.navAnimation{
    display: inline-block;
}

.navAnimation:after {
    content: "";
    display: block;
    height: 0.25em;
    width: 0%;
    margin-bottom: 9px;
    background-color: #000;
    transition: width 0.4s;
}

.navAnimation:hover:after {
    width: 100%;
}
