{% extends 'base.html.twig' %}
{% block title %}
    Recipe Generator | Food'n'Co
{% endblock %}

{% block body %}
    <<div class="p-3 mx-auto text-center">
    <h1 class="display-4">Recipe Generator</h1>
</div>

    <div class="py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="container-fluid">
                    <div class="col-10 mx-auto">
                        {{ form(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}