{% extends 'base.html.twig' %}
{% block title %}
    Recipe Generator | Food'n'Co
{% endblock %}

{% block body %}
    <div class="p-3 mx-auto text-center">
    <h1 class="display-4">Recipe Generator</h1>
</div>


{% endblock %}