{% extends 'base.html.twig' %}
{% block title %}
    Recipes Catalogue | Food&Co
{% endblock %}
{% block body %}
    <div class="container-fluid wh-100-80 section-bg">
        <h1 class= "fs-54 dawning">Recipe <span class= "fs-32 arvo">generator </span></h1>
    </div>
{% endblock %}



