<footer class="mt-4 pt-4 ">
    <div class="container border-top">
        <div class="row">
            <div class="col-12 col-md">
                <h5>Foodies&Co 2021</h5>
                <small class="d-block text-muted">&copy; 2021</small>
            </div>
            <div class="col-6 col-md">
                <ul class="list-unstyled">
                    <li><a class="nav-link" href="{{ path('contact', { 'alias' : 'contact' }) }}">Contact</a></li>
                    <li><a class="nav-link" href="{{ path('cgu', { 'alias' : 'cgu' }) }}">CGU</a></li>
                    <li><a class="nav-link" href="{{ path('legal-notices', { 'alias' : 'legalNotices' }) }}">Legal Notices</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark">
        <div class="row">
            <div class="col">
                <p class="text-center text-white">&copy; Foodies&Co 2021</p>
            </div>
        </div>
    </div>
</footer>